.icon-btn{
  height: 30px;
  line-height: 30px;
  padding: 0;
  padding-left: 34.5px !important;
  &.normal-btn,&.el-button--primary,&.el-button--default{
    padding-left: 34.5px !important;
  }
  span{
    display: inline-block;
    height: 16px;
    position: relative;
  }
  img{
    width: 16px;
    position: absolute;
    vertical-align: middle;
    top: -1px;
    left: -20px;
  }
}
.normal-btn{
  @include color($color-blue);
  @include border($color-blue, 0.5);
  &:hover,&:focus{
    @include border($color-blue);
  }
}
.normal-del{
  padding-left: 34.5px !important;
  img{
    width: 12px;
    position: absolute;
    vertical-align: middle;
    top: 0px;
    left: -16px;
  }
}
.upload-btn{
  @include color($color-blue);
  @include border($color-blue, 0.5);
  &:hover,&:focus{
    @include border($color-blue, 0.5);
  }
  img{
    height: 18px;
  }
}